.tag-header {
    height:300px;
    display:flex;
    align-items: center;
    padding: 30px;
    color: #FFFFFF;
    background-color: #3a4075;
    h2{
        font-size:50px;
        text-transform: uppercase;
    }
}