.tshirtSection {
    background-color: #3a4075;
    padding: 30px;
    color: #FFFFFF;
    h1 {
        color: #FFFFFF;
    }
    ul {
        margin: 0;
    }
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}